body *{
    border: 1px solid black;
    padding: 10px;
    margin: 0px 10px
}

#container-charcters {
    background-color: lightblue;
    margin-bottom: 0;
}

#container-items {
    background-color: lightpink;
    margin: auto;
    height: 600px;
}

#sayings-here{
    background-color: darkblue;
    color:white;
    margin-top: 0px;
}

#selected-charcter {
    background-color: lightgreen;
    width: 600px;
    height: 600px;
    margin: auto
}

.battle-ground{
    background-color: blanchedalmond;
    display: flex;
}