body *{
    /* border: 1px solid black; */
    padding: 10px;
    /* margin: 0px 10px */
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: 0%;
}

.basic-container{
    padding: 0;
    margin: auto;
    text-align: center;
    background-color:lightgray;
}

#container-charcters {
    background-color: lightblue;
    /* display: flex; */
    /* margin: auto; */
}

#container-items {
    background-color: lightpink;
    margin: auto;
    height: fit-content;
}

#edit-info {
    background-color: rgb(243, 216, 250);
    margin: auto;
    height: 400px;
}

#sayings-here{
    background-color: darkblue;
    color:white;
    margin-top: 0px;
}

.select-item{
    padding: 0px;
    margin: auto;
}

.select-avatar{
    padding: 0px;
}

#selected-charcter {
    background-size: 100%;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 0px;
    border: none;
}

.battle-ground{
    background-color: blanchedalmond;
    display: flex;
}


.ending-container{
    background-color: lime;
    height: 20px;
}

.saying-list{
    display: flex;
}

.progress{
    padding: 0px;
}

.progress-bar{
    margin: 0;
}

#expressions{
    margin: 125px;
    margin-top: 165px;
    width: 250px;
    height: 250px;
    background-size: 100%;
    position: absolute;
    border: none;
}

#splat{
    margin: 0;
    width: 500px;
    height: 500px;
    background-size: 100%;
    border: none;
}

.crud-btn{
    background-color: red;
    height: fit-content;
    width: fit-content;
    padding: 3px;
    border: none;
    font-size: large;
}

i {
    max-width: 100%;
    max-height: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

.sect_label{
    font-size: x-large;
}