.backgrnd-paint { 
    background: url(../images/paint_splatter.png) no-repeat top left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    text-align: center;
    vertical-align: baseline;
  }
  
.intro-questions{
    font-family: 'Rancho', cursive;
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-top: 2.5%;
    line-height: 40px;
    width: fit-content;
    text-shadow:
        1px 0px 1px #ccc, 0px 1px 1px #eee,
        2px 1px 1px #ccc, 1px 2px 1px #eee,
        3px 2px 1px #ccc, 2px 3px 1px #eee,
        4px 3px 1px #ccc, 3px 4px 1px #eee,
        5px 4px 1px #ccc;
    }

.intro-description{
    width: 70%;
    margin: auto;
    color: white;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    text-shadow:
    1px 0px 1px rgb(89, 89, 89), 0px 1px 1px rgb(89, 89, 89),
    2px 1px 1px rgb(89, 89, 89), 1px 2px 1px rgb(89, 89, 89);
}

#signin_div{
    width: 30%;
    margin: auto;
    padding: 1% 2%;
    font-size: 20px;
    border: 1px black solid;
    background-color:deepskyblue;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.50);
}

.welcome{
    font-family: 'Rancho', cursive;
    font-size: 40px;
    margin-top: 2%;
}

#new-username{
    min-width: 50%;
    max-width: 95%;
    text-align: center;
    margin-bottom: 3%;
}

#btn-signin{
    font-family: 'Rancho', cursive;
    font-size: 20px;
    padding: .5% 5%
}

#signin-error{
    color: red;
    font-style: italic;
    background-color: rgba(243, 240, 243, 0.5);
}